.li {
  display: flex;
  justify-content: flex-start;
  gap: 1vh;
  flex-direction: column;
  padding: 2vh 5vw;
  width: 100%;
  background-color: rgba(0, 140, 255, 0.133);
  border-radius: 7.5px;
}

.avatarBox {
  display: flex;
  align-items: center;
  width: auto;
  gap: 1em;
  cursor: pointer;
}
.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin-right: 2.5vw;
}
.username {
  font-size: 1.4em;
}
.votes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.icon {
  width: 1.6em;
  cursor: pointer;
}
.postBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
}

.title {
  font-size: 2.2em;
  color: rgb(4, 34, 42);
}

.post {
  color: rgba(4, 34, 42, 0.852);
  max-width: 75%;
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 1px;
}

.userBox {
  display: flex;
  justify-content: space-between;
}

.postBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.actionBox {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.6em;
}
.userOnly {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
