.nav {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.li {
  font-size: 1.7em;
  text-decoration: none;
  color: rgb(0, 140, 255);
  cursor: pointer;
}
